*{
    font-family: Adamina;
}

#banner{
    width: 100%;
    height:740px;
    
}

.titulo-principal{ 
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}

.titulo-secundario{

    text-align: center;
}

.descripcion {
    text-align: center;
    font-family: Adamina;
    font-size: 20px;
}

.diferenciales p{
    color: palevioletred;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
}

.mapa{
    padding: 3rem 0;
}

.mapa p{
    margin: 0 0 2rem;
}