
.titulo-principal {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 50px;
    font-size: 2rem;
    padding: 100px;
}


.container-principal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.caja {
    width: 220px;
    height: 280px;
    border: solid 2px black;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    padding: 2rem;

}

.producto {
    width: 100px;
    height: 100px;

}