* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-white-100: hsl(206, 5%, 98%);
	--color-white-200: hsl(206, 5%, 90%);
	--color-white-300: hsl(206, 5%, 80%);
	--color-white-400: hsl(206, 5%, 65%);
	--color-white-500: hsl(206, 5%, 50%);
	--color-black-100: hsl(213, 23%, 8%);
	--color-black-200: hsl(214, 21%, 6%);
	--color-black-300: hsl(210, 21%, 6%);
	--color-black-400: hsl(216, 22%, 4%);
	--color-black-500: hsl(220, 18%, 3%);
	--color-pink-400: hsl(330, 81%, 60%);
	--color-pink-500: hsl(333, 71%, 50%);
	--shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
	   0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
	   0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
	   0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
  
body {
	background-image: url("/Imagenes/fondo.png");
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	height: -webkit-fill-available;
	color: var(--color-black-500);
	background-color: var(--color-white-100);
}
<<<<<<< HEAD

html {
	font-size: 100%;
	box-sizing: inherit;
	scroll-behavior: smooth;
	height: -webkit-fill-available;
=======
  
a {
	cursor: pointer;
	border: none;
	outline: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	background: none;
	box-shadow: none;
>>>>>>> c80ce7c329e5e1f7447b98f9cc0f1096efde2bb7
}

.brand {
	font-family: inherit;
	font-size: 1.625rem;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: var(--color-pink-500);
}

a {
	border: none;
	outline: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	background: none;
	box-shadow: none;
	text-decoration: none;
}

.navbar-responsive {
	color: #fff;
	position: absolute;
	height: 100%;
	width: 100%;
	transform: translate3d(-100%, 0, 0);
	transition: 0.3s all ease-in-out;
}
.navbar-responsive:after {
	content: "";
	z-index: -1;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
  
.navbar {
	display: flex;
	justify-content: space-between;
	height: 3.5rem;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(208,118,201,1) 0%, rgba(252,176,69,1) 100%);
	box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.25);
	background-color: #fff;
}

.navbar .navbar__wrapper {
	width: 90%;
	margin: 0 auto;
}
.navbar .navbar__wrapper .navbar__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.navbar .navbar__wrapper .navbar__menu .navbar__nav {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.navbar .navbar__wrapper .navbar__link a,
.navbar .navbar__wrapper .navbar__brand {
	display: block;
	position: relative;
	padding: 12px;
	color: var(--color-black-500);
	font-family: inherit;
	font-weight: 500;
	text-decoration: none;
	font-size: 1.2rem;
}
.navbar .navbar__wrapper .navbar__brand {
	font-weight: 700;
	font-size: 1.2em;
}
.navbar .navbar__wrapper .navbar__brand img {
	height: 100%;
}

.navbar-responsive .navbar-responsive__nav {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link {
	text-align: center;
	letter-spacing: 2px;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a {
	display: block;
	padding: 15px;
	color: #fff;
	text-decoration: none;
	font-weight: 200px;
	font-size: 1.5rem;
}
.navbar-responsive .navbar-responsive__nav .navbar-responsive__link a:after {
	top: 50%;
	bottom: 0;
	left: 0;
	background-color: rgb(255, 0, 0);
}

.after-transform a {
	position: relative;
}
.after-transform a:after {
	position: absolute;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: var(--color-pink-500);
	border-radius: 3px;

}

.menu_link {
	font-family: inherit;
	font-size: 2rem;
	font-weight: 500;
	line-height: inherit;
	cursor: pointer;
	color: var(--color-black-500);
	transition: all 0.3s ease-in-out;
}

.after-transform a.active:after, .after-transform a:hover:after {
	transform: scaleX(1) translateZ(0);
}
  
  /* Icon 3 */
#nav-icon3 {
	width: 30px;
	height: calc(100%/2);
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	cursor: pointer;
}
  
#nav-icon3 span {
	display: none;
	position: absolute;
	height: 5px;
	width: 100%;
	background: rgb(49, 47, 47);
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.25s ease-in-out;
	-moz-transition: 0.25s ease-in-out;
	-o-transition: 0.25s ease-in-out;
	transition: 0.25s ease-in-out;
}
  
#nav-icon3 span:nth-child(1) {
	top: 0px;
}
  
#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
	top: 9px;
}
  
#nav-icon3 span:nth-child(4) {
	top: 18px;
}
  
#nav-icon3.open span:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}
  
#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
  
#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
  
#nav-icon3.open span:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
}
  
@media (max-width: 800px) {
	.navbar__nav {
	  display: none !important;
	}
  
	#nav-icon3 span {
		display: block !important;
	}

	.search-container, .section-1 {
		display: none !important;
	}
}
@media (min-width: 800px) {
	.navbar__responsive {
	  transform: translate3d(-100%, 0, 0) !important;
	}
}

/* Style search*/

.search-box {
	position: absolute;
	right: 100px;
	transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	background: #f77f1d;
}
.search-box + label {
	position: absolute;
	right: 105px;
	color: black;
}
.search-box:hover {
	color: rgb(255, 115, 0);
	background: #fa5a1a;
	box-shadow: 0 0 0 5px #16181a;
}
.search-box:hover + label{
	color: #f0b66c;
}
.search-box:focus {
	transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
	outline: none;
	box-shadow: none;
	padding-left: 15px;
	cursor: text;
	width: 300px;
	border-radius: auto;
	background: #f0b66c;
	color: black;
}
.search-box:focus + label .search-icon {
	color: black;
}
.search-box:not(:focus) {
	text-indent: -5000px;
}
  
#search-submit {
	position: relative;
	left: -5000px;
}


/* Style banner */
#banner-home {
	width: 100%;
}

/* Style del selector de Gatos o Perros */
#selector1 {
	display: flex;
    justify-content: center;
	margin-top: 50px;
	padding: 1.5em 1em;
}

.figure {

  display: inline-block;
  margin: 30px;
  max-width: 350px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.figure * {
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}





/* Section 1 - Hover Effect */

.section-1 .figure:before,
.section-1 .figure:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #000000;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
  content: '';
  opacity: 0.9;
  z-index: 1;
}

.section-1 .figure:before {
  -webkit-transform: skew(45deg) translateX(-180%);
  transform: skew(45deg) translateX(-180%);
}

.section-1 .figure:after {
  -webkit-transform: skew(45deg) translate(180%);
  transform: skew(45deg) translateX(180%);
}

.section-1 .figure img {
  max-width: 100%;
  vertical-align: top;
}

.section-1 .figure figcaption {
	top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2;
    -webkit-transform: translate(-50%,-50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    -webkit-box-shadow: 0 0 10px #1d1d1d;
    box-shadow: 0 0 10px #1d1d1d;
}

.section-1 .figure h3 {
  background-color: #1d1d1d;
  border: 2px solid #ffffff;
  color: #fcf7f7;
  font-size: 1em; 
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.section-1 .figure a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.section-1 .figure:hover > img,
.section-1 .figure:hover > img {
  opacity: 0.5;
}

.section-1 .figure:hover:before,
.section-1 .figure.hover:before {
  -webkit-transform: skew(45deg) translateX(-80%);
  transform: skew(45deg) translateX(-80%);
}

.section-1 .figure:hover:after,
.section-1 .figure.hover:after {
  -webkit-transform: skew(45deg) translateX(80%);
  transform: skew(45deg) translateX(80%);
}

.section-1 figure:hover figcaption,
.section-1 figure.hover figcaption {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

footer{
    text-align: center;
    padding: 50px 50px 25px;
} 
#logo{
    width: 250px;
    height: 250px;
}

.copyright {
    font-size: 13px;
}