
.titulo-principal {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 50px;
    font-size: 2rem;
    padding: 30px;
}


.container-principal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.caja {
    width: 240px;
    height: 380px;
    border: solid 2px black;
    border-radius: 20px;
    margin: 15px;
    text-align: center;
    padding: 30px;


}

.producto {
    width: 150px;
    height: 180px;

}

p{
    font-size: 20px;
    font-weight: bold;
}

.btnAddCar {
    cursor: pointer;
    border: solid 2px #28B19D;
    font-size: 15px;
    margin: 10px;
    padding: 3px;
}
.precio {
    font-weight: bold;
}