.principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10%;
    margin-bottom: 20px;
}

.title { 
    color: #28B19D;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
}


#boton-carrito {
    background: none;
    border: none;
}

.contenedor-productos {
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 280px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}

.producto_imagen {
    max-width: 90%;
    max-height: 70%;
}

.precioProducto {
    display: flex;
    font-weight: 700;
    align-items: baseline;
}

.boton-agregar {
    display: flex;
    background-color: #28B19D;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    border: none;
    max-width: 100%;
}

.boton-agregar:hover {
    cursor: pointer;
}

.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: #28B19D;
    padding-bottom: 5px;
}

.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #28B19D;
    border: none;
    background-color: white;
}

.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}

.modal-carrito #carritoCerrar:focus {
    outline: none;
}

.modal-carrito .precioProducto {
    padding-top: 10px;

}

.productoEnCarrito {
    border-left: 5px solid #28B19D;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.productoEnCarrito:hover {
    border-left: 5px solid #28B19D;
}

.opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}
.modal-dialog {
    display: flex;
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    box-shadow:0 5px 10px rgba(0,0,0,0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    
    width: 500px;
    height: 300px;
}

#modalCerrar {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    color: #28B19D;
    border: none;
    background: #fefefe;
}

#formProducto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 80px;
    left: 20px;
}

#titulo-agregar {
    position: absolute;
    left: 120px;
    top: 20px;
}


.info-producto {
    margin: 5px;
}

#submit {
    position: absolute;
    top: 185px;
    left: 200px;
}

#agregar-producto {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 70px;
    width: 200px;
    margin: 20px;
    cursor: pointer;
}
#agregar-producto:hover {
    color: #fff;
}
#agregar-producto:hover:after {
    left: 0;
    width: 100%;
}
#agregar-producto:active {
    top: 2px;
}
