.titulo-principal{
    margin-top: 60px;
    text-align: center;
    padding: 30px 30px;
    font-size: 3rem;
}

.titulo-secundario{
    font-size: 2rem;
    font-weight: bold;
    padding: 30px ;
}

#baño{
    width: 250px;
    height: 250px;
}

#corte{
    width: 250px;
    height: 250px;
}

.servicios {
    width: 980px;
   margin: 0 auto;
   text-align: center;
}

.servicios li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 3.5%;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;

}

.servicios li:hover{
    border-color: #C78C19;
}

.servicios li:active{
    border-color: #088c19;
}

.servicios li:hover h2{
    font-size: 35px;
}

.precio{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.items {
    font-style:italic;
    text-align: center;
    font-size: 2rem ;
}
.items:before{
    content:"☆";
}

.video {
    width : 560px;
    margin: 2rem auto;
}